.listBox {
  border-bottom: 1px solid #eee;
  &:last-child {
    border: 0;
  }
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
li {
  width: 25%;
  display: flex;
}

li b,
li i,
li u {
  display: block;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  height: 35px;
  line-height: 35px;
  color: #666;
}
li b {
  width: 110px;
  text-align: right;
}
li i {
  white-space: nowrap; /* 确保文本在一行内显示 */
  overflow: hidden; /* 隐藏超出容器宽度的文本 */
  text-overflow: ellipsis; /* 添加省略号 */
}

.showTable {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-weight: normal;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

tr {
  border-bottom: 1px solid #eee;
}

th,
td {
  vertical-align: middle;
}
