/* 修复input 背景不协调 和光标变色 */
$bgColor: #283443;
$lightColor: #fff;
$cursorColor: #fff;

@supports (-webkit-mask: none) and (not (cater-color: $cursorColor)) {
  .login-form .el-input input {
    color: $cursorColor;
  }
}

.login-form {
  .el-input {
    display: inline-block;
    height: 47px;
    width: 85%;

    input {
      background: transparent;
      border: 0;
      border-radius: 0;
      padding: 12px 5px 12px 15px;
      color: $lightColor;
      height: 47px;
      caret-color: $cursorColor;

      &:-webkit-autofill {
        box-shadow: 0 0 0 1000px $bgColor inset !important;
        -webkit-text-fill-color: $cursorColor !important;
      }
    }
  }

  .el-form-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(81, 113, 255, 0.1);
    border-radius: 5px;
    color: #333;
  }
}
